.error {
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 27px;
  box-sizing: border-box;
  margin: 0 auto;
}

.error__title {
  margin: 0 0 16px;
  text-align: center;
  font-size: 48px;
  box-sizing: border-box;
  width: 100%;
}

.error__subtitle {
  margin: 0 0 78px;
  text-align: center;
}

.error__link {
  color: inherit;
  transition: opacity 0.3s linear;
}

.error__link:hover {
  opacity: 0.6;
}
